@use "../libs/functions" as f;
@use "../libs/mixins" as m;
@use "../libs/breakpoints" as s;

/* Banner */

#banner {
    align-items: center;
    display: flex;
    @include m.padding(4em, 0, (2em, 0, 0, 0));
    border-bottom: 0 !important;
    cursor: default;
    height: 60vh;
    margin-bottom: -3.25em;
    max-height: 32em;
    min-height: 22em;
    position: relative;
    top: -3.25em;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .style2 {
    background-color: var(--bg);
    position: relative;

    .image {
        display: none; // The JS or CSS handles this as a background-image
    }
}

    // This specifically targets the image used as a background
    // and overrides the global .image (inline-block/relative) settings
    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        margin: 0; // Reset any global margins
        padding: 0; // Reset any global paddings
        border: 0;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    // Overlay
    &:after {
        transition: opacity #{f.duration(banner)} ease;
        transition-delay: 0.75s;
        pointer-events: none;
        background-color: f.palette(bg);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.85;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    h1 {
        font-size: 3.25em;
    }

    >.inner {
        transition: opacity 1.5s ease,
            transform 0.5s ease-out,
            filter 0.5s ease;
        padding: 0 !important;
        position: relative;
        z-index: 2;

        header {
            width: auto;

            > :first-child {
                width: auto;

                &:after {
                    max-width: 100%;
                }
            }
        }

        .content {
            display: flex;
            align-items: center;
            margin: 0 0 f.size(element-margin) 0;

            >* {
                margin-left: 1.5em;
                margin-bottom: 0;
            }

            > :first-child {
                margin-left: 0;
            }

            p {
                font-size: 0.7em;
                font-weight: f.font(weight-bold);
                letter-spacing: f.font(letter-spacing-alt);
                text-transform: uppercase;
            }
        }
    }

    // Variations
    &.major {
        height: 75vh;
        min-height: 30em;
        max-height: 50em;

        &.alt {
            opacity: 0.75;
        }
    }

    // Style Loop
    @for $i from 1 through 6 {
        &.style#{$i} {
            &:after {
                background-color: f.palette(accent#{$i});
            }
        }
    }

    // Loading State
    body.is-loading & {
        &:after {
            opacity: 1.0;
        }

        >.inner {
            filter: blur(0.125em);
            transform: translateX(-0.5em);
            opacity: 0;
        }
    }

    // Responsive
    @include s.breakpoint(small) {
        @include m.padding(3em, 0, (2em, 0, 0, 0));
        height: auto;
        margin-bottom: -6em;
        max-height: none;
        min-height: 0;
        top: -6em;

        h1 {
            font-size: 2em;
        }

        >.inner .content {
            display: block;

            >* {
                margin-left: 0;
                margin-bottom: f.size(element-margin);
            }
        }

        &.major {
            height: auto;
            min-height: 0;
            max-height: none;
        }
    }

    @include s.breakpoint(xsmall) {
        @include m.padding(4em, 0, (2em, 0, 0, 0));

        &.major {
            @include m.padding(6em, 0, (2em, 0, 0, 0));
        }
    }
}