@use "../libs/functions" as f;
@use "../libs/mixins" as m;
@use "../libs/breakpoints" as s;

/* Contact */

#contact {
    border-top: solid 1px f.palette(border);
    border-bottom: solid 1px f.palette(border);
    overflow-x: hidden;

    > .inner {
        display: grid;
        grid-template-columns: 60% 40%; // Explicitly define the two columns
        padding: 0 !important;

        // Form Column (formerly nth-child 2n-1)
        section:first-child {
            @include m.padding(4em, 3em, (0, 3em, 0, 0));
            
        }

        // Contact Info Column (formerly nth-child 2n)
        section:last-child {
            display: flex;
            flex-direction: column;
        }

        .split {
            display: contents; // Allows children to participate in the parent grid if needed, 
                               // or just use it as a standard wrapper.
            
            > * {
                //@include m.padding(3em, 0, (0, 0, 0, 3em));
                position: relative;
                border-top: solid 1px f.palette(border);

                // Removing the complex pseudo-element border logic 
                // and using a simple top border.
                &:first-child {
                    border-top: 0;
                }
            }
        }
    }

    /* Responsive Adjustments */
    @include s.breakpoint(medium) {
        > .inner {
            grid-template-columns: 100%; // Stack columns

            section:first-child {
                @include m.padding(4em, 4em);
                border-right: 0;
                border-bottom: solid 1px f.palette(border);
            }

            section:last-child {
                .split > * {
                    @include m.padding(3em, 0, (0, 0, 0, 0));
                }
            }
        }
    }

    @include s.breakpoint(small) {
        > .inner {
            section:first-child {
                @include m.padding(3em, 3em);
            }
        }
    }
}