@use "../libs/functions" as f;
@use "../libs/breakpoints" as s;

/* Footer */
#footer {
    padding: 4em 0 2em 0; // Standard desktop padding
    
    .inner {
        display: flex;
        flex-direction: column;
        align-items: center; // Center everything by default
        text-align: center;
    }

    .icons {
        margin-bottom: 2em; // Space between icons and copyright
    }

    .copyright {
        font-size: 0.8em;
        list-style: none;
        padding: 0;
        margin: 0;
        
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; // Center the list items
        align-items: center;
        gap: 1.5em; 

        li {
            color: f.palette(fg-light);
            line-height: 1;
            padding: 0;
            margin: 0;
            border-left: 0; // Start with no borders

            // Modern divider logic for horizontal view
            & + li {
                padding-left: 1.5em;
                border-left: solid 1px f.palette(border);
            }
        }
    }

    /* Responsive Adjustments */
    @include s.breakpoint(medium) {
        padding: 3em 0 1.5em 0;
        
        .icons {
            margin-bottom: 1.5em;
        }
    }

    @include s.breakpoint(small) {
        .copyright {
            flex-direction: column; // Stack items vertically
            gap: 0.75em;

            li {
                line-height: 1.4;
                
                // Remove dividers when stacked
                & + li {
                    padding-left: 0;
                    border-left: 0;
                }
            }
        }
    }
}