@use "../libs/functions" as f;
@use "../libs/mixins" as m;
@use "../libs/breakpoints" as s;

/* Wrapper */

#wrapper {
	// Standard transitions for filters and opacity
	transition: filter f.duration(menu) ease,
		opacity 0.375s ease-out;
	width: 100%;
	position: relative;

	// Triggered by JS during page changes
	&.is-transitioning {
		opacity: 0;
	}

	// Apply the standardized inner width/padding to all direct section children
	>* {
		@include m.inner;
	}

	// Responsive: adjust padding for the smaller mobile header
	@include s.breakpoint(small) {
		padding-top: 2.75em;
	}
}