@use "../libs/functions" as f;

/* Box */

.box {
    border: solid 1px f.palette(border);
    margin-bottom: f.size(element-margin);
    padding: 1.5em;

    // Reset bottom margins for nested elements to maintain consistent padding
    > :last-child {
        &,
        > :last-child,
        > :last-child > :last-child {
            margin-bottom: 0;
        }
    }

    // Alternative style: removes borders and padding for transparent containers
    &.alt {
        border: 0;
        border-radius: 0;
        padding: 0;
    }
}