@use "../libs/functions" as f;
@use "../libs/breakpoints" as s;

.split {
    display: flex;
    flex-direction: column;

    >section {
        border-top: solid 1px f.palette(border);
        padding: 3em 3em; // Standard vertical padding for all
        border-left: solid 1px f.palette(border);

        @include s.breakpoint(medium) {
            border-left: 0;
        }

        // ONLY the first section (Email) gets side padding
        &:first-of-type {
            border-top: 0;
            padding: 0 2em 3em 2em; // Top: 0, Right: 2em, Bottom: 3em, Left: 2em
        }

        // Phone and Address remain full-width (0 side padding)
    }
}



.contact-method {
    .header-wrapper {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-bottom: 0.75em;

        .icon.alt {
            flex-shrink: 0;
        }

        h3 {
            margin: 0;
            text-transform: uppercase;
            font-size: 1em;
        }
    }

    .details {
        padding-left: 3.5em; // Aligns text under the title

        a,
        address {
            display: block;
            font-style: normal;
            border-bottom: dotted 1px rgba(255, 255, 255, 0.2);
            width: fit-content;
        }
    }
}

@include s.breakpoint(small) {
    .split>section:first-of-type {
        padding: 0 0 3em 0; // Remove side padding on mobile for better fit
    }

    .contact-method .details {
        padding-left: 0;
    }
}