@use "../libs/functions" as f;
@use "../libs/breakpoints" as s;

/* Image Base */
img {
    max-width: 100%;
    height: auto; // Ensures aspect ratio is maintained
}

.image {
    border: 0;
    display: inline-block;
    position: relative;

    img {
        display: block;
    }

    // Modern Float handling: Ensures text wraps but clears on mobile
    &.left,
    &.right {
        max-width: 40%; // Slightly larger for better visibility

        @include s.breakpoint(small) {
            max-width: 100%;
            float: none;   // Disable floats on small screens
            margin: 0 0 1em 0;
        }
    }

    &.left {
        float: left;
        padding-right: 1.5em;
        margin-bottom: 1em;
    }

    &.right {
        float: right;
        padding-left: 1.5em;
        margin-bottom: 1em;
    }

    // Full-width variants
    &.fit, &.main {
        display: flex;       // Using flex to ensure internal alignment
        justify-content: center;
        width: 100%;
        margin: 0 0 f.size(element-margin) 0;

        img {
            width: 100%;
            object-fit: cover; // Better handling for aspect ratios
        }
    }

    &.main {
        margin: (f.size(element-margin) * 1.25) 0;

        @include s.breakpoint(small) {
            margin: (f.size(element-margin) * 0.75) 0;
        }
    }
}