@use "sass:color";
@use "../libs/functions" as f;
@use "../libs/mixins" as m;
@use "../libs/breakpoints" as s; 

/* Spotlights */

.spotlights {
    border-top: 0 !important;

    & + * { border-top: 0 !important; }

    > section {
        display: flex;
        flex-direction: row; // Desktop default
        min-height: 40vh;    // Ensures sections feel substantial
        background-color: color.scale(f.palette(bg-alt), $lightness: 2%, $saturation: -1%);

        > .image {
            flex: 0 0 30%;    // Fixes image at 30% width
            background-position: center;
            background-size: cover;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover; // Ensures image fills the flex area
                display: block;
            }
        }

        > .content {
            flex: 1;          // Takes up the remaining 70%
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include m.padding(3em, 3em);

            > .inner {
                max-width: 100%;
                width: f.size(inner);
            }
        }

        // Alternating layout
        &:nth-child(2n) {
            flex-direction: row-reverse;
            background-color: color.scale(f.palette(bg-alt), $lightness: 4%, $saturation: -2%);
        }
    }

    /* Responsive Logic */
    @include s.breakpoint(medium) {
        > section {
            flex-direction: column !important; // Stack vertically

            > .image {
                flex: 0 0 20em; // Fixed height when stacked
                width: 100%;
            }

            > .content {
                width: 100%;
                text-align: center; // Usually looks better stacked
                @include m.padding(4em, 2em);
            }
        }
    }
}