@use "../libs/functions" as f;

/* Table Wrapper for Responsiveness */
.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    margin: 0 0 f.size(element-margin) 0;
    border: 1px solid transparent; // Fixes some browser scrollbar clipping
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    thead {
        border-bottom: solid 2px f.palette(border);
    }

    th {
        color: f.palette(fg-bold);
        font-size: 0.9em;
        font-weight: f.font(weight-bold);
        padding: 0.75em;
    }

    td {
        padding: 0.75em;
    }

    tbody {
        tr {
            border-bottom: solid 1px f.palette(border);

            // Zebra striping
            &:nth-child(even) {
                background-color: f.palette(border-bg);
            }

            // Remove border on last row if no tfoot exists
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    tfoot {
        border-top: solid 2px f.palette(border);
    }

    /* "Alt" variation: Full Grid Borders */
    &.alt {
        border: solid 1px f.palette(border);

        th, td {
            border: solid 1px f.palette(border);
        }

        // Clean up double borders
        thead, tfoot { border: 0; }
    }
}