@use "sass:color";
@use "../libs/functions" as f;
@use "../libs/breakpoints" as s;

/* Tiles */

.tiles {
    // 1. Grid Setup
    display: grid;
    grid-template-columns: repeat(10, 1fr); // 10 equal columns for easy 40/60 math
    width: 100%;

    article {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
        // Default: Span 4 columns (40%)
        grid-column: span 4;
        
        height: 40vh;
        min-height: 23em;
        max-height: 40em;
        padding: 4em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        transition: transform 0.25s ease, opacity 0.25s ease, filter 1s ease;

        header {
            position: relative;
            z-index: 3;
        }

        // --- STAGGERED PATTERN (Grid version) ---
        // Span 6 columns (60%) for the "wide" tiles
        &:nth-child(4n - 1),
        &:nth-child(4n - 2) {
            grid-column: span 6;
        }

        // Overlay & Link logic remains the same (Absolute positioning)
        .link.primary, &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &:before {
            transition: opacity 0.5s ease;
            opacity: 0.85;
            z-index: 2;
        }

        &:hover:before { opacity: 0; }

        // Color Loop
        @for $i from 1 through 6 {
            &:nth-child(6n - #{6 - $i}) {
                &:before { background-color: f.palette(accent#{$i}); }
            }
        }
    }

    // --- RESPONSIVE FIXES ---

    @include s.breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr); // Switch to 2 equal columns
        
        article, 
        article:nth-child(4n - 1), 
        article:nth-child(4n - 2) {
            grid-column: span 1 !important; // Everything takes 1/2 width
        }
    }

    @include s.breakpoint(xsmall) {
        grid-template-columns: 1fr; // Single column
        
        article {
            grid-column: span 1 !important;
            height: 20em;
        }
    }
}