---
import Header from "./Header.astro";
import Menu from "./Menu.astro";

type LayoutType = "landing" | "home" | "default";
type Props = { layout?: LayoutType };

const { layout = "default" } = Astro.props;
---

<div id="wrapper">
  <Header layout={layout} />
  <Menu />
  <slot />
</div>
