---
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";

// Get props passed directly OR from Markdown frontmatter
const { title, description, image, frontmatter } = Astro.props;

// Create a "final" version of the data that works in both cases
const displayTitle = title || frontmatter?.title;
const displayDesc = description || frontmatter?.description;
const displayImg = image || frontmatter?.image;
---

<BaseLayout title={displayTitle}>
  <section id="banner" class="style2">
    <div class="inner">
      <span class="image">
        {displayImg && <img src={displayImg} alt="" />}
      </span>
      <header class="major">
        <h1>{displayTitle}</h1>
      </header>
      <div class="content">
        <p>{displayDesc}</p>
      </div>
    </div>
  </section>
  <div id="main">
    <section id="one">
      <div class="inner">
        <slot />
      </div>
    </section>
  </div>
</BaseLayout>