---
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <section id="banner" class="style2">
    <div class="inner">
      <span class="image">
        <Image src={frontmatter.image} alt="" loading="eager"  decoding="sync"/>
      </span>
      <header class="major">
        <h1>{frontmatter.title}</h1>
      </header>
      <div class="content">
        <p>{frontmatter.description}</p>
      </div>
    </div>
  </section>

  <div id="main">
    <section id="one">
      <div class="inner">
        <slot />
      </div>
    </section>
  </div>
</BaseLayout>